# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/genericimg-0.1.0.pc
/src/Makefile.in
/src/Makefile
/src/.deps/
/autom4te.cache/
/libtool
/config.log
/install-sh
/config.sub
/config.status
/depcomp
/config.guess
/missing
/config.h.in
/compile
/Makefile
/INSTALL
/stamp-h1
/configure
/Makefile.in
/aclocal.m4
/config.h
/ltmain.sh
/nbproject/
/src/genericimg.pc
/src/configure.ac
/PKGBUILD
/src/.libs/libgenericimg.so.0
/m4/ltsugar.m4
/pkg/genericimg/.BUILDINFO
/m4/ltversion.m4
/m4/libtool.m4
/pkg/genericimg/.MTREE
/src/.libs/libgenericimg.so.0.2.0
/m4/ltoptions.m4
/m4/lt~obsolete.m4
/pkg/genericimg/.PKGINFO
/src/.libs/libgenericimg.so.0.2.1
/src/.libs/libgenericimg.so.0.2.2
/src/.libs/libgenericimg.so.0.3.1
/res/Makefile.in
/res/Makefile
/src/resources.c
/src/.libs/libgenericimg.so.0.3.2
/src/.libs/libgenericimg.so.0.3.3
/src/.libs/libgenericimg.so.0.3.4
/test/Makefile
/test/unic_test.log
/test/test-suite.log
/test/unic_test.trs
/test/Makefile.in
/test/unic_test
/test/.libs/
/test/.deps/
/test-driver
/test/fmt_test.log
/test/fmt_test
/test/fmt_test.trs
/src/.libs/libgenericimg.so.0.3.5
/src/.libs/libgenericimg.so.0.3.6
/test/log_test.trs
/pkg/
/test/log_test
/test/log_test.log
/test/test.db
/src/.libs/
/test.txt
/make2ccls.sh
/test/worker_test
/test/worker_test.log
/test/worker_test.trs
/.ccls
/test/json_test
/test/json_test.log
/test/json_test.trs
