# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/genericimg-0.1.0.pc
/src/Makefile.in
/src/Makefile
/src/.deps/
/autom4te.cache/
/libtool
/config.log
/install-sh
/config.sub
/config.status
/depcomp
/config.guess
/missing
/config.h.in
/compile
/Makefile
/INSTALL
/stamp-h1
/configure
/Makefile.in
/aclocal.m4
/config.h
/ltmain.sh
/nbproject/
/src/genericimg.pc
/src/configure.ac
/PKGBUILD
/src/.libs/libgenericimg.so.0
/m4/ltsugar.m4
/pkg/genericimg/.BUILDINFO
/m4/ltversion.m4
/m4/libtool.m4
/pkg/genericimg/.MTREE
/src/.libs/libgenericimg.so.0.2.0
/m4/ltoptions.m4
/m4/lt~obsolete.m4
/pkg/genericimg/.PKGINFO
/pkg/
/src/.libs/libgenericimg.so.0.2.1
/src/.libs/libgenericimg.so.0.2.2
/src/.libs/libgenericimg.so.0.3.1
